
/* Carte individuelle */
.product-card {
    flex: 1 1 calc(33.333% - 20px); /* 3 cartes par ligne, en tenant compte du gap */
    border: 1px solid #0b0b0b;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Image centrée */
.product-image {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border : 1px solid #888787;
}

.product-image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border : 1px solid #888787;
}

/* Infos produit */
.product-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Nom du produit */
.product-name {
    margin-bottom: 10px;
}

/* Prix à gauche, bouton à droite */
.product-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Bouton "Voir" */
.btn-view {
    background-color: #fafbfd;
    color: rgb(21, 21, 21);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.9em;
}


/* Responsive : 2 cartes par ligne sur tablette, 1 carte sur mobile */
@media (max-width: 900px) {
    .product-card {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .product-card {
        flex: 1 1 100%;
    }
}